@mixin article-settings($width) {
  width: $width;
  padding: 22px 40px;
  margin: 0 auto 35px;
  background-color: $bg-color;
  border: 2px solid $border-color;
  border-radius: 3px;
}

@mixin form-settings($width) {
  max-width: $width;
  padding: 45px 0;
  margin: auto;
  border: 1px solid $border-color;
  background-color: $bg-color;
}