$text-alignment: center;
$paragraph-padding: 4px;

body {
  background: #fafafa;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212121;
  margin: 0;

  hr {
    margin-bottom: 21px;
    border-top: 0;
    border-color: #d4d4d4 !important;
  }

  h3 {
    margin-bottom: 20px;
  }

  a {
    color: #212121;
  }

  input[type="submit"]:hover {
    cursor: pointer;
  }
}

header {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 25px 0 30px;
  border-bottom: 2px solid #a3a3a3;
  background: #fff;
  
  h1 {
    color: #bf4080;
    font-size: 2.5rem;
    text-align: $text-alignment;
    margin: 0;
  
    span {
      color: #cf649a;
    }

    .logo-slash {
      font-weight: 300;
      color: #404040;
    }

    .logo-text-gray {
      color: #94a3b8;
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
  
      a {
        color: #737373;
        display: block;
        padding: 8px 12px;
        border-radius: 5%;
        text-decoration: none;

        &:hover, &:focus {
          transition: 1s linear;
          background: #525252;
          color: #fafafa;
        }

        &:active {
          background: bisque;
          border-color: #666;
          color: #efefef;
        }
      }
    }
  }
}


#page-title {
  display: flex;

  h2 {
    display: inline-block;
    margin: 0 auto 42px;
    font-size: 2rem;
    text-align: center;
    color: #0891b2;
    padding: 0 30px 32px;
    border-bottom: 1px solid #d4d4d4;
  }
}

article {
  box-sizing: border-box;
  width: 80%;
  padding: 22px 40px;
  margin: 0 auto 35px;
  background-color: white;
  border: 2px solid #cbd5e1;
  background-color: #fff;
  border-radius: 3px;
  
  p {
    padding-bottom: $paragraph-padding;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  ul {
    padding-left: 14px;

    li {
      margin-bottom: 8px;
    }
  }


  hr {
    margin: 20px 0;
  }
}

section {
  padding: 0 30px;
}

form {
  max-width: 500px;
  padding: 45px 0;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid #cbd5e1;
  background-color: #fff;

  div {
    display: flex;
    margin-bottom: 30px;

    label, input {
      padding: 0.5rem;
      box-sizing: border-box;
      justify-content: space-between;
      font-size: 1.1rem;
    }
    
    label {
      width: 30%;
      text-align: right;
    }
    
    input {
      width: 60%;
      border: 2px solid #e2e8f0;
      border-radius: 2px;
    }

    &:last-of-type {
      margin-bottom: 0;

      input {
        width: 55%;
        margin: 0 auto;
        padding: 15px 0 18px;
        font-weight: 600;
        font-size: 17px;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  article hr {
    width: 225px;
  }

  form {
    padding: 22px 10px 38px;

    div {
      flex-wrap: wrap;
      margin: 0 auto;
      width: 80%;
  
      label, input {
        width: 100%;
        text-align: left;
        padding-left: 0;
        margin-bottom: 4px;
      }

      input {
        padding-left: 8px;
      }
  
      &:last-of-type input {
        text-align: center;
        padding-left: 0;
        margin-top: 20px;
      }
    }
  }
}